body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.poga {
    font-size: 2em;
    padding: 20px 40px;
    border: none;
    border-radius: 50%;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 80vw;
    height: 80vh;
}

.poga:hover {
    background-color: red;
}

.poga:active {
    background-color: #FFC107; 
}
